# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Virtualenv
env/
temp_auto_push.bat
venv/
ENV/
*.env


# IDEs
.idea/

# OS files
Thumbs.db
.DS_Store
.gitignore
temp_interactive_push.bat
